/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


/* .nav-left {
    display: flex;
    justify-content: flex-start;
    

}

.nav-right {
    display: flex;
    justify-content: flex-end;


} */



/* .main-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
 */
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30 px 10%;
}

li {
    display: inline-block;
}

nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
